{% extends "base.html" %}
{% block Mainblock %}
<main class="d-flex justify-content-center align-items-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h1>Welcome to Admin Panel</h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'ticket_app:event_list' %}" class="btn btn-primary">Go to Event List</a>
                    <a href="{% url 'admin_app:user_list' %}" class="btn btn-primary">Go to User List</a>
                    <a href="{% url 'admin_app:event_list_ticket' %}" class="btn btn-primary">View ticket sales</a>
                {% else %}
                <a href="{% url 'ticket_app:sign_in' %}" class="btn btn-primary">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
