{% extends "base.html" %}
{% load static %}
{% block Mainblock %}

<title>Purchase Ticket</title>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    <h1>Purchase Tickets for {{ event.event_title }}</h1>
    <p>Description: {{event.event_description}}
    <p>Date: {{ event.event_date }}</p>
    <p>Time: {{ event.event_time }}</p>
    <p>Price: {{ event.event_price }}</p>
    <p>Address: {{ event.event_address }}</p>


    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Buy Tickets</button>
    </form>

{%endblock%}
