{% extends "base.html" %}
{% load static %}
{% block Mainblock %}

<title>Purchase Ticket</title>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>
<body>
    <h1>Purchase Tickets for {{ event.event_title }}</h1>
    <p>Description: {{event.event_description}}
    <p>Date: {{ event.event_date }}</p>
    <p>Price: {{ event.event_price }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Buy</button>
    </form>
</body>
</html>

{%endblock%}
