{% extends "base.html" %}
{% load static %}
{% block Mainblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tickets</title>
</head>
<body>
    <div class="container">
        <h1>Your Tickets</h1>

        {% if ticket %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Ticket Type</th>
                        <th>Purchased Date</th>
                        <th>Total Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_ticket in ticket %}
                        <tr>
                            <td>{{ user_ticket.event_details.event_title }}</td>
                            <td>{{ user_ticket.status }}</td>
                            <td>{{ user_ticket.ticket_purchase_date }}</td>
                            <td>{{ user_ticket.total_price }}</td>  
                            <td>{{ user_ticket.ticket_quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tickets.</p>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}
